.greyline {
    width: 1px;
    height: auto;
    background-color: #D1D1D1;
}

.rightContainer,
.leftContainer {
    width: 440px;
}

textarea {
    min-height: 120px !important;
    align-self: stretch;
    resize: vertical;
    overflow: auto;
    font-family: 'Inter';
}

textarea:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.inputField {
    width: 100%;
    box-sizing: border-box;
}

.relative input::placeholder {
    color: black;
}

.addContactImg {
    background-image: url('../img/personPlus.svg');
}

.addContactBtnArea {
    padding: 8px 16px;
}

.dateImg:hover {
    background-color: white !important;
}

#assignedContactsId {
    flex-wrap: wrap;
    gap: 14.8px;
}

.inputDescription {
    max-height: 250px;
    min-height: 120px;
}

.dropdownContacts {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 1;
}

.scrollAddTaskArea {
    overflow-y: auto;
    height: auto;
    max-height: 224px;
}

.scrollLimitCategories {
    max-height: 240px;
}

.listCategories,
.listContacts {
    font-size: 20px;
    border-radius: 10px;
}

.listContacts {
    padding: 7px 16px;
}

.listCategories {
    padding: 12px 16px;
}

.listSubtaskHover:hover,
.listCategories:hover,
.listContacts:hover {
    background-color: #EEEEEE !important;
}

.darkHoverListContacts:hover {
    background-color: #071427 !important;
}

.mb2 {
    margin-bottom: -2px;
}

.nameShortSmall {
    width: 38px;
    height: 38px;
    border: 2px solid white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
    border-radius: 100%;
}

.prioBtn {
    padding: 16px 10px;
    margin: 0;
    gap: 8px;
    border-radius: 10px;
    background-color: white;
    width: 100%;
    height: 56px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.prioBtn:hover {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    background-color: white;
}

.footer {
    width: 977px;
    position: absolute;
    bottom: 71px;
    left: calc(96px + 232px);
    display: flex;
    align-items: flex-end;
}

.changeCrossImage:hover img {
    content: url('../img/crossBlue.png');
}

#urgentTextId {
    width: 67.5px;
}

#mediumTextId {
    width: 79.5px;
}

#lowTextId {
    width: 40.5px;
}

/* category */
.greylineInputAddTask {
    right: 49px !important;
    background-color: white;
    top: calc(50% - 32px / 2) !important;
}

.crossImg {
    right: 50px !important;
}

.editSubtask:hover,
.deleteSubtask:hover,
.deleteCategory:hover,
.editCategory:hover {
    transform: scale(1.2);
}

.subtaskContent,
.categoryContent {
    border: none;
    background-color: transparent;
    padding: 0;
}

.editCategoryInput {
    color: #007CEE;
}

.subtaskContent:focus,
.editCategoryInput:focus {
    border: none;
}

.smallGreylineSubtask,
.smallGreyline {
    width: 1px;
    height: 24px;
    background-image: url('../img/greyLine.png');
}

/* subtask */
.listSubtask {
    padding: 6px 16px;
}

.listSubtaskHover:hover {
    border-radius: 10px;
}

ul {
    margin: 0;
    padding: 0 0 0 16px;
}

#subtaskListId {
    position: absolute;
    left: 0;
    top: 90px;
    width: 100%;
}

.scrollLimitAddTask {
    max-height: 124px;
}

.editSubtask,
.deleteSubtask,
.smallGreylineSubtask {
    display: none;
}

.listSubtask:hover .editSubtask,
.listSubtask:hover .deleteSubtask,
.listSubtask:hover .smallGreylineSubtask {
    display: block;
}

/* popup */
.addTaskArea {
    padding: 64px 74px 280px 74px;
    background: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 30px;
    position: relative;
}

/* scroll */
.inputDescription::-webkit-scrollbar-button:start:decrement,
.scrollAddTaskArea::-webkit-scrollbar-button:start:decrement {
    background-position: center;
    background-image: url('../img/arrow_drop_up.svg');
    border-top-right-radius: 100% !important;
    border-top-left-radius: 100% !important;
}

.inputDescription::-webkit-scrollbar-button:end:increment,
.scrollAddTaskArea::-webkit-scrollbar-button:end:increment {
    background-position: center;
    background-image: url('../img/arrow_drop_down.svg');
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
}

.inputDescription::-webkit-scrollbar,
.scrollAddTaskArea::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.inputDescription::-webkit-scrollbar-track,
.scrollAddTaskArea::-webkit-scrollbar-track {
    background-color: transparent;
}

.inputDescription::-webkit-scrollbar-thumb,
.scrollAddTaskArea::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 10px;
}