/* title */
.title {
    width: 1054px;
    height: auto;
}

.input816 {
    width: 312px;
}

.relative input::placeholder {
    color: #D1D1D1;
}

.searchField,
.addTaskBtn {
    height: 48px;
}

/* category */
.categoryTitle {
    width: 244px;
    height: auto;
}

.dragArea {
    width: 244px;
    height: auto;
}

.dragAreaHighlight {
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 24px;
}

.changeAddBtn:hover {
    content: url('../img/plusBorderBlue.png');
}

.noTask {
    width: 100%;
    box-sizing: border-box;
    height: 48px;
    background: #E7E7E7;
    border-radius: 10px;
    border: 1px dashed #A8A8A8;
}

.task {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    padding: 16px;
    background-color: white;
    align-items: flex-start;
}

.dragPlaceholder {
    width: 100%;
    height: calc(244px * (2 / 3));
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px dashed #A8A8A8;
}

.subjectKanban {
    padding: 4px 16px;
    border-radius: 8px;
    background-color: grey;
    width: auto;
}