body {
    margin: 0;
    font-family: 'Inter';
    background: #F6F7F8;
}

.dNone {
    display: none !important;
}

a {
    text-decoration: none;
    color: #29ABE2;
}

.pointer {
    cursor: pointer;
}

input:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.dFlex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.horizontalAndVertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textCenter {
    text-align: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.fontWhite {
    color: white;
}

.fontGrey {
    color: #A8A8A8;
}

/* button */
button {
    margin: 0;
    border: 0;
    padding: 0;
    background: #2A3647;
    border-radius: 8px;
    font-family: 'Inter';
}

button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 0px 10px silver;
}

.btn816,
.btn1616,
.btn1524 {
    margin: 0;
    gap: 4px;
}

.btn816 {
    padding: 8px 16px;
}

.btn1616 {
    padding: 16px;
}

.btn1524 {
    padding: 15px 24px;
}

.btnWhite {
    background-color: white;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.btnWhite:hover {
    background-color: white;
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 0px 10px silver;
}

/*  */
.bold {
    font-weight: bold;
}

.symbol20 {
    width: 20px;
    height: auto;
}

.symbol24InputHover,
.symbol24Input,
.symbol24 {
    width: 24px;
    height: 24px;
}

.symbol32,
.symbol32Input {
    width: 32px;
    height: 32px;
}

.symbol32Input {
    margin: 8px 16px;
}

.symbol24InputHover,
.symbol24Input {
    background-color: white;
    margin: 13px 13px
}

.symbol32Input:hover,
.symbol24InputHover:hover {
    border-radius: 100%;
    background-color: #EEEEEE;
}

.absoluteMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.greylineInput {
    right: 63px !important;
    padding-left: 16px;
    background-color: white;
    top: calc(50% - 32px / 2) !important;
}

/* gap */
.gap80 {
    gap: 80px;
}

.gap61 {
    gap: 61px;
}

.gap56 {
    gap: 56px;
}

.gap48 {
    gap: 48px;
}

.gap35 {
    gap: 35px;
}

.gap32 {
    gap: 32px;
}

.gap30 {
    gap: 30px;
}

.gap28 {
    gap: 28px;
}

.gap26 {
    gap: 26px;
}

.gap18 {
    gap: 16px;
}

.gap16 {
    gap: 16px;
}

.gap15 {
    gap: 15px;
}

.gap13 {
    gap: 13px;
}

.gap8 {
    gap: 8px;
}

.gap4 {
    gap: 4px;
}

/* input */
input {
    font-family: 'Inter' !important;
}

.input816,
.input1221,
.input1216 {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    color: black;
    box-sizing: border-box;
    width: 100%;
}

.input816 {
    padding: 8px 63px 8px 16px;
}

.input1221 {
    padding: 12px 46px 12px 21px;
}

.input1216 {
    padding: 12px 46px 12px 16px;
}

.relative {
    position: relative;
}

.relativ input {
    position: absolute;
    top: 0;
    left: 0;
}

.relative img,
.relative object {
    position: absolute;
    top: 0;
    right: 0;
}

.bigJoinLogo {
    width: 101px;
    height: 122px;
    margin: 80px 0 0 77px;
}

/* box on summary, add task and board */
.content {
    margin: 110px 0 128px 96px;
}

.title {
    margin-bottom: 48px;
}

/* blue line on summary and contacts */
.blueline {
    width: 3px;
    height: 59px;
}

.red {
    color: #FF8190;
    margin-left: -5px;
}

/* slide */
.closePopup {
    position: absolute;
    top: 52px;
    right: 52px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.closePopup:hover {
    border-radius: 100%;
    background: #EEEEEE;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.slide-in {
    animation: slide-in 0.5s ease;
}

.slide-out {
    animation: slide-out 0.5s ease;
}

@keyframes slide-in {
    0% {
        transform: translateX(400%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(400%);
    }
}