body {
    margin: 0;
    font-family: 'Inter';
    background: #F6F7F8;
}

.dNone {
    display: none !important;
}

a {
    text-decoration: none;
    color: #29ABE2;
}

.pointer {
    cursor: pointer;
}

input:focus {
    border: 1px solid #29ABE2;
    outline: none;
}

.dFlex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.horizontalAndVertical {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textCenter {
    text-align: center;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.fontWhite {
    color: white;
}

/* button */
button {
    margin: 0;
    border: 0;
    padding: 0;
    background: #2A3647;
    border-radius: 8px;
    font-family: 'Inter';
}

button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 0px 10px silver;
}

.btn1616 {
    padding: 16px;
    margin: 0;
    gap: 4px;
}

.btn1524 {
    padding: 15px 24px;
    margin: 0;
    gap: 4px;
}

.btnWhite {
    background-color: white;
    border: 1px solid #2A3647;
    color: #2A3647;
}

.btnWhite:hover {
    background-color: white;
    border: 1px solid #29ABE2;
    color: #29ABE2;
    box-shadow: 0px 0px 10px silver;
}

/*  */
.bold {
    font-weight: bold;
}

.symbol32 {
    width: 32px;
    height: 32px;
}

.symbol24 {
    width: 24px;
    height: 24px;
}

.symbol24Input {
    background-color: white;
    padding: 8px 19px 8px 21px;
    margin: 5px 2px 5px;
}

.absoluteMiddle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* gap */
.gap80 {
    gap: 80px;
}

.gap61 {
    gap: 61px;
}

.gap56 {
    gap: 56px;
}

.gap35 {
    gap: 35px;
}

.gap32 {
    gap: 32px;
}

.gap30 {
    gap: 30px;
}

.gap28 {
    gap: 28px;
}

.gap18 {
    gap: 16px;
}

.gap16 {
    gap: 16px;
}

.gap15 {
    gap: 15px;
}

.gap13 {
    gap: 13px;
}

.gap8 {
    gap: 8px;
}

.gap4 {
    gap: 4px;
}

/* input */
input {
    font-family: 'Inter' !important;
}

.input1221 {
    padding: 12px 21px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    color: black;
}

.relative {
    position: relative;
}

.relativ input {
    position: absolute;
    top: 0;
    left: 0;
}

.relative object {
    position: absolute;
    top: 0;
    right: 0;
}

.bigJoinLogo {
    width: 101px;
    height: 122px;
    margin: 80px 0 0 77px;
}