.topContainer a,
.middleContainer a,
.bottomContainer a {
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    color: #2A3647;
}

.topContainer a {
    width: 264px;
    height: 168px;
    padding: 38px 19px;
}

.middleContainer a {
    width: 560px;
    height: 168px;
    padding: 28px 48px;
}

.bottomContainer a {
    width: 168px;
    height: 168px;
    padding: 20px 20px;
}

a {
    color: black;
}

a img {
    width: 69px;
    height: 69px;
}

.greyLine {
    width: 2px;
    height: 102px
}

.topContainer a:hover,
.middleContainer a:hover,
.bottomContainer a:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #2A3647;
    color: white !important;
}

.changePencilImage:hover img {
    content: url('../img/pencilWhite.png');
}

.changeHookImage:hover img {
    content: url('../img/hookWhite.png');
}

#currentUserId {
    color: #29ABE2;
}