.addContactArea {
    width: 1212px;
    height: 592px;
    background-color: white;
    border-radius: 30px;
    z-index: 1;
}

.leftContainerAddContact {
    width: 467px;
    padding: 66px 48px;
    height: 100%;
    box-sizing: border-box;
    background-color: #2A3647;
    border-radius: 26px 0 0 26px;
    caret-color: transparent;
}

.titleAddContact {
    position: absolute;
    width: calc(100% - 48px * 2);
    top: 232.5px;
    left: 48px;
}

.joinLogoAddTask {
    position: absolute;
    left: 48px;
    top: 154px !important;
    width: 55px;
    height: 66px;
}

.bluelineEditContact,
.bluelineAddContact {
    position: absolute;
    left: 48px;
    width: 90px;
    height: 3px;
}

.bluelineAddContact {
    top: 362px !important;
}

.bluelineEditContact {
    top: 320px !important
}

.middleContainerAddContact {
    width: 275px;
    height: 100%;
    caret-color: transparent;
}

.circleAddProfile {
    width: 114px;
    height: 114px;
    border: 3px solid white;
    border-radius: 100%;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
    background-color: #D1D1D1;
    margin: 204px 0 0 83px;
    position: relative;
}

.personAddContactImage {
    width: 64px;
    height: 64px;
}

.colorPicker {
    position: absolute;
    bottom: 0;
    right: 0;
    border: white;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

.colorPicker:hover {
    transform: scale(1.1);
}

.rightContainerAddContact {
    position: relative;
    width: 470px;
    height: 100%;
}

.inputArea {
    width: 422px;
}

.addContactBtn {
    margin: 16px 0 0 0;
}

.inputArea input::placeholder {
    color: #D1D1D1 !important;
}

.changeCrossImage:hover img {
    content: url('../../img/crossBlue.png');
}