.signUpBtn {
    margin: 80px 77px 0 35px;
}

.logInBoxWidth {
    width: 652px;
}

.logInTitle {
    caret-color: transparent;
}

.logInBox {
    height: auto;
    padding: 48px 115px;
    background-color: white;
    border-radius: 30px;
    width: 652px;
    box-sizing: border-box;
}

.blueLineLogin {
    height: 3px;
    width: 150px;
    border-radius: 1.5px;
    caret-color: transparent;
}

.inputField {
    width: 100%;
    box-sizing: border-box;
    cursor: text !important;
}

#regPasswordFirstImgId,
#regPasswordSecondImgId {
    cursor: pointer;
}

.input {
    cursor: text;
}

.rememberMe {
    padding: 8px 0 0 39px;
    caret-color: transparent;
}

.forgotPassword {
    color: black;
}

.forgotPassword:hover {
    color: #007CEE;
}

.privacyLink {
    margin-left: -4px;
}

.headerFooterPosition {
    height: 100vh;
}

.logInFooter a {
    padding: 8px;
    color: #A8A8A8;
    margin-bottom: 40px;
    width: 110px;
}

.logInFooter a:hover {
    font-weight: bold;
    color: #29ABE2;
}

.backArrow {
    position: absolute;
    top: 64px;
    left: 64px;
    border-radius: 100%;
    background-color: transparent;
}

.backArrow:hover {
    background: #EEEEEE;
    transform: scale(1.1);
    box-shadow: 0px 0px 0px;
}

.checkbox {
    width: 16px;
    height: 16px;
    margin: 0;
}

.logInHeader {
    height: 200px;
}

/* index animation */
#animatedLogInImageId {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 287.5px;
    height: 300px;
    z-index: 2;
    animation: slideAndFadeImg 1s forwards;
    animation-delay: 0.5s;
}

#animationLogInBackgroundId {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #F6F7F8;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    opacity: 1;
    transition: opacity 1s ease;
    animation: slideAndFadeBackground 1s forwards;
    animation-delay: 0.5s;
    pointer-events: none;
}

@keyframes slideAndFadeImg {
    0% {
        left: 50%;
        top: 50%;
        width: 287.5px;
        height: 300px;
    }

    100% {
        top: 100px;
        left: 96.25px;
        transform: translate(0, 0);
        transform: translate(-50%, -50%);
        width: 115px;
        height: 120px;
        padding: 80px 0 0 77px;
        margin: 0;
    }
}

@keyframes slideAndFadeBackground {
    0% {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        left: 0;
        top: 0;
        transform: translate(0, 0);
        opacity: 0;
    }
}