@media(max-width: 1480px) {
    .gap80 {
        gap: 30px;
    }
}

@media(max-width: 1400px) {
    .btnsAndGreet {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 28px;
    }

    /* animation */
    .whiteBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #F6F7F8;
        opacity: 1;
        animation: fadeOut 1.5s ease-out forwards;
        animation-delay: 1.5s;
        z-index: 1;
        pointer-events: none;
    }

    .welcomeMessageText.fade-out,
    .whiteBackground.fade-out {
        opacity: 0;
    }

    #currentUserId {
        text-align: center;
    }

    .welcomeMessageText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1;
        animation: fadeOut 1.5s ease-out forwards;
        animation-delay: 1.5s;
        z-index: 1;
    }

    #dayTimeId {
        text-align: center;
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .btnsAndGreet {
        display: flex;
    }
}


@media(max-width: 985px) {
    .content {
        padding: calc(30px + 110px) 30px 71px calc(232px + 30px);
    }
}

@media(max-width: 850px) {
    .content {
        padding: calc(30px + 110px) 30px 71px calc(180px + 30px);
    }

    .topContainer a {
        width: 244px;
        height: 148px;
        padding: 25px 38px;
    }

    .middleContainer a {
        width: 520px;
        height: 148px;
        padding: 24px 30px;
    }

    .bottomContainer a {
        width: 154px;
        height: 154px;
        padding: 15px 15px;
    }

    #dayTimeId {
        font-size: 36px;
    }

    #currentUserId {
        font-size: 47px;
    }
}

@media(max-width: 767px) {
    .content {
        padding: 128px 16px 128px 16px;
    }

    .welcomeMessageText,
    .whiteBackground {
        z-index: 0;
    }

    .fontSize61 {
        font-size: 47px;
    }

    .fontSize27 {
        font-size: 20px;
    }

    .title {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        order: 1;
        align-items: flex-start;
    }

    .blueline {
        margin-top: 8px;
        order: 3;
        width: 90px;
        height: 3px;
    }

    .subtitle {
        order: 2;
    }

    .leftSummaryContainer {
        width: 100%;
    }

    .gap32 {
        gap: 24px;
    }

    .gap30 {
        gap: 8px;
    }

    .gap28 {
        gap: 30px;
    }

    .gap45 {
        gap: 20px;
    }

    .topContainer a {
        width: 100%;
        aspect-ratio: 1/2;
        padding: 0;
    }

    .middleContainer a {
        width: 100%;
        height: auto;
        aspect-ratio: 3/1 !important;
        padding: 0 8px;
    }

    .bottomContainer a {
        width: 33.333%;
        height: auto;
        aspect-ratio: 1/1;
        padding: 15px 15px;
    }

    .bottomContainer {
        gap: 24px;
    }

    .fontSize64 {
        font-size: 47px;
    }

    #dateFrontPageId {
        font-size: 16px;
        width: auto;
        min-width: 105px;
    }

    a img {
        width: 40px;
        height: 40px;
    }

    .greyLine {
        width: 2px;
        height: 68px;
    }

    .topContainer a:hover,
    .middleContainer a:hover,
    .bottomContainer a:hover {
        transform: scale(1.03);
    }
}

@media(max-width: 440px) {
    .fontSize64 {
        font-size: 24px;
    }

    .topContainer a {
        height: 130.5px;
    }

    .fontSize16,
    .fontSize20 {
        font-size: 12px !important;
    }

    #prioNumberId,
    #prioFrontPageTextId {
        width: 61px;
        text-align: center;
    }

    #prioFrontPageTextId {
        font-size: 12px;
    }

    .gap45,
    .gap18 {
        gap: 8px;
    }

    .gap32 {
        gap: 10px;
    }

    .bottomContainer {
        gap: 10px;
    }
}

@media (max-width: 767px) and (max-height: 840px) {
    .content {
        padding: 95px 16px 95px 16px;
    }

    .blueline {
        display: none;
    }

    .title {
        margin-bottom: 16px;
    }

    .leftSummaryContainer {
        gap: 16px;
    }

    .topContainer a {
        height: 108px;
    }
}