@media(max-width: 850px) {
    .symbol32 {
        top: calc(110px + 48px);
    }
}

@media(max-width: 767px) {
    .content {
        padding: 128px 16px 96px 16px;
    }

    h1 {
        font-size: 47px;
        height: 90px;
    }

    .symbol32 {
        top: calc(110px + 27px);
        right: 16px;
    }

    .quicklinksContainer {
        padding-right: 16px;
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 100px;
    }
}

@media(max-width: 400px) {
    h1 {
        font-size: 36px;
        height: 76px;
    }

    .symbol32 {
        top: calc(110px + 22px);
    }
}